numpy==1.21.6
scikit-learn==1.0.2
matplotlib==3.5.2
seaborn==0.11.2
pandas==1.4.2
Pillow==9.1.1
wandb==0.13.5
argparse==1.4.0
efficientnet-pytorch==0.7.1
transformers==4.40.1
tqdm==4.65.2
lightning-flash==0.8.2